* {
  margin: 0;
  padding: 0;
}

#root nav {
  width: flex;
  height: 110px;
  display: flex;
  justify-content: space-between;
  padding: 21px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
#root .searchLabel {
  width: 150px;
  height: 20px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  display: flex;
  background-color: #F5F5F5;
  border-radius: 54px;
  margin-top: auto;
}
#root .searchLabel input {
  border: none;
  width: 130px;
  background-color: inherit;
  color: rgba(0, 0, 0, 0.25);
  outline: transparent;
  padding-left: 5px;
  padding-top: 5px;
  font-family: "Mogra";
}
#root .searchLabel img {
  cursor: pointer;
}
#root .logo_links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#root .logo_links .Logo a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 25px "Leckerli One";
  text-decoration: none;
  color: #DB0909;
}
#root .logo_links ul {
  display: flex;
  width: 457px;
  justify-content: space-evenly;
}
#root .logo_links ul li {
  list-style-type: none;
  font: 17px "Mogra";
}
#root .logo_links ul li a {
  text-decoration: none;
  color: #777777;
  transition: color 0.2s ease-in-out;
}
#root .logo_links ul li a:hover {
  color: #9B9B9B;
}
#root .nav_extras {
  margin-top: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
#root .nav_extras a {
  margin-right: 30px;
  text-decoration: none;
  color: rgba(54, 54, 54, 0.72);
  font: 15px "Mogra";
}
#root .nav_extras button {
  width: 33px;
  height: 33px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
}
#root .nav_extras button img {
  width: inherit;
}
#root .carousel {
  max-width: 95vw;
  height: auto;
  margin-inline: 21px;
  margin-top: 35px;
  display: flex;
  padding: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  overscroll-behavior-inline: contain;
}
#root .carousel .foodMenu {
  min-width: 335px;
  height: 390px;
  margin: 10px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #DB0909;
  font: 25px "Mogra";
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: 0.3s ease-out color;
}
#root .carousel .foodMenu:hover {
  color: #fff;
}
#root .carousel .menu_loading {
  align-items: center;
  background-color: #EDEDED;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  cursor: default;
}
#root .carousel .menu_loading img {
  animation: 2s ease-in-out alternate infinite breath;
}
#root .ads {
  width: flex;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font: 15px "Mada";
  background-color: #C52A2A;
}
#root .subMenu {
  padding-top: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#root .subMenu .subDishesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  place-content: center;
}
#root .subMenu .loading-dishes {
  background-color: #e4e4e4;
  animation-delay: 1s;
  animation-duration: 1.5s;
}
#root .subMenu .loading-dishes .loading-dishes-box1, #root .subMenu .loading-dishes .loading-dishes-box2 {
  margin: 20px;
  width: 310px;
  height: 200px;
  background-color: #dadada;
  animation: 1s ease-in-out infinite blink;
}
#root .subMenu .loading-dishes .loading-dishes-box2 {
  width: 200px;
  height: 20px;
  margin: 10px;
  margin-left: 20px;
}
#root .subMenu .dishCard, #root .subMenu .loading-dishes {
  width: 350px;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#root .subMenu .dishCard .dishImage, #root .subMenu .loading-dishes .dishImage {
  width: flex;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
#root .subMenu .dishCard .dishDetails, #root .subMenu .loading-dishes .dishDetails {
  height: inherit;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font: 17px "Mada";
}
#root .subMenu .dishCard .dishDetails .dishPrices, #root .subMenu .loading-dishes .dishDetails .dishPrices {
  font: 17px "Inria Sans";
  display: flex;
  justify-content: space-evenly;
  width: 90px;
}
#root .subMenu .dishCard .dishDetails .dishPrices .dishOriginalPrice, #root .subMenu .loading-dishes .dishDetails .dishPrices .dishOriginalPrice {
  text-decoration-line: line-through;
  color: #9B9B9B;
}
#root .subMenu .dishCard .dishDetails .addButton, #root .subMenu .loading-dishes .dishDetails .addButton {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#root .subMenu button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: #DB0909;
  color: #fff;
  border-radius: 25px;
  margin: auto;
  font: 17px "Leckerli One";
  cursor: pointer;
  transition: 0.3s ease-out background-color, 0.3s ease-out color;
}
#root .subMenu button:hover {
  background-color: #fff;
  color: #DB0909;
  border: 1px solid #DB0909;
}
#root .nutritious-fact_section {
  width: flex;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .nutritious-fact_section .loading-facts {
  background-color: #c2c2c2;
  border-radius: 10px;
  animation: 2.5s ease-in-out infinite blink;
}
#root .nutritious-fact_section .loading-facts .loading-facts-box {
  width: 500px;
  height: 20px;
  background-color: #ececec;
  border-radius: 10px;
  margin: auto;
  margin-block: 30px;
  animation: 1.5s ease-in-out infinite blink;
}
#root .nutritious-fact_section .facts-container, #root .nutritious-fact_section .loading-facts {
  width: 554px;
  height: 500px;
  overflow: hidden;
}
#root .nutritious-fact_section .facts-container h1, #root .nutritious-fact_section .loading-facts h1 {
  font: 40px "Leckerli One";
  color: #DB0909;
  margin-block: 17px;
}
#root .nutritious-fact_section .facts-container .facts, #root .nutritious-fact_section .loading-facts .facts {
  font: 20px "Kotta One";
  line-height: 60px;
}
#root .nutritious-fact_section .facts-container .animateFacts, #root .nutritious-fact_section .loading-facts .animateFacts {
  pointer-events: none;
  animation: 1s ease-in-out scrollLeft;
}
#root .nutritious-fact_section .facts-container .dots, #root .nutritious-fact_section .loading-facts .dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
#root .nutritious-fact_section .facts-container .dots img, #root .nutritious-fact_section .loading-facts .dots img {
  margin-inline: 10px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */